NODE_ENV=development
URL_CLIENT=http://localhost:5173
URL_SERVER=https://f-order-production.up.railway.app
DATABASE_URI=mongodb+srv://
PORT=8000
JWT_SECRET=
JWT_REFRESH_SECRET= 
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
OPENAI_KEY=
REDIS_URL=redis://localhost:6379

# Storage bulket
STORAGE_BUCKET=